<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>IVO Template</string>
	<key>Summary</key>
	<string>Template for quick swiftui module setup</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>DefaultCompletionName</key>
	<string>View</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name:</string>
			<key>Description</key>
			<string>Name of the module</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Default</string>
		</dict>
	</array>
	<key>Description</key>
	<string>Template for quick swiftui module setup</string>
</dict>
</plist>
